.menu-container.flex.flex-col.w-full.h-full
  .flex-col.h-2_5
    .calendar.w-full.flex.justify-center.border-2.border-black.h-1_3.items-center
      %h1.text-4xl Calendar
    .budget.w-full.flex.justify-center.border-2.border-black.h-1_3.items-center
      %h1.text-4xl Budeget
    .goals.w-full.flex.justify-center.border-2.border-black.h-1_3.items-center
      %h1.text-4xl Goals
  .flex-col.h-3_5
    .time.h-1_2.flex.justify-center.h-12.border-2.border-black.h-1_2.items-center
      %h1.text-4xl Time
    .todos.w-full.flex.justify-center.h-12.border-2.border-black.h-1_2.items-center
      %h1.text-4xl Todos

